---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_SNEyLqhFTQcAIjpFfrcyBwyJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ad042b1f-3c71-4214-9cd4-95c1542088fc
      Original-Request:
      - req_oEnLsTQaU1WYEK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1Mrznl2pcJj2o7U2a0eQCaYV",
          "object": "token",
          "card": {
            "id": "card_1Mrznl2pcJj2o7U2VrUN9H3m",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "1iA5wZiQGiRbTsam",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "type": "Visa"
          },
          "client_ip": "45.12.25.231",
          "created": 1680337725,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 01 Apr 2023 08:28:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_1Mrznl2pcJj2o7U2a0eQCaYV&metadata[purchase_id]=2&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+2%29
    headers:
      Authorization:
      - Bearer sk_test_SNEyLqhFTQcAIjpFfrcyBwyJ
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2023-04-01 11:28:45 +0300/2/2
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2023-04-01 11:28:45 +0300/2/2
      Original-Request:
      - req_21oxafSABAvRUh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_3Mrznm2pcJj2o7U20ycXTWkt",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_21oxafSABAvRUh?t=1680337726",
            "type": "card_error"
          }
        }
  recorded_at: Sat, 01 Apr 2023 08:28:46 GMT
recorded_with: VCR 6.1.0
